<html>

<head>
    <title>Menu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/static/css/menu.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <form class="form-horizontal" method="post">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">
                                <p>Início</p>
                            </a>
                        </li>
                        <li>
                            <a href="/login/">
                                <p>Login</p>
                            </a>
                        </li>
                        <li>
                            <a href="/contato/">
                                <p>Cadastro Contato</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Contato</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </form>
</body>

</html>