<html lang="pt-br">
   <head>
      <title>Logar no Sistema</title>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
   </head>
   <body class=" login" data-admin-utc-offset="-10800">
      <div class="container">
      <form action="" method="POST">
         <span id="reauth-email" class="reauth-email"></span>
         <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
         <input name="senha" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
         <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Logar</button>
      </form>
   </body>
</html>